<h2>AboutPage</h2>
<p>This is NodeJs/ExpressJs App for Setting Up Your Goals for the Better Future</p>
<p>Just put your Goal in the <b>Title</b></p>
<p>And in the <b>Details</b> You can describe how you can achieve it GoodLuck!!</p>
</br>
</br>
<footer>
  <p>
    <b>Created by</b>: ShRZ</p>
  <p>
    <b>SourceCode:</b>
    <a target="_blank" href="https://github.com/shravanz/Goal-Planner">GitHubLink</a>.</p>
    <h6>Version:1.0</h6>
</footer>