<div class="jumbotron text-center">
  <h1 class="display-4">{{title}}</h1>
  <p class="lead">Create Your Goals for your Better Future</p>
  <a href="/goals/add" class="btn btn-dark btn-lg">SetYourGoals</a>
</div>
<footer>
  <p>
    <b>Created by</b>: ShRZ</p>
  <p>
    <b>SourceCode:</b>
    <a target="_blank" href="https://github.com/shravanz/Goal-Planner">GitHubLink</a>.</p>
</footer>